<!DOCTYPE html>
<html lang="en">
<footer>
    <div class="floating_container">
        <ul>
            <li>
                <a href="#">↑</a>
            </li>
        </ul>
    </div>
    <div class="ft_wrap">
        <div class="ft_top_container">
            <div class="ft_top inner_1280">
                <ul>
                    <li>
                        <a href="#">회사소개</a>
                    </li>
                    <li>
                        <span> | </span>
                    </li>
                    <li>
                        <a href="#">개인정보처리방침</a>
                    </li>
                    <li>
                        <span> | </span>
                    </li>
                    <li>
                        <a href="#">이용약관</a>
                    </li>
                    <li>
                        <span> | </span>
                    </li>
                    <li>
                        <a href="#">청소년 보호방침</a>
                    </li>
                    <li>
                        <span> | </span>
                    </li>
                    <li>
                        <a href="#">고객센터</a>
                    </li>
                </ul>
                <div class="fm_site_lnk">
                    <select name="" id="">
                        <option value="FAMILY SITE"  selected>FAMILY SITE</option>
                        <option value="Openstack Dashboard">Openstack Dashobard</option>
                        <option value="Spring board">Spring Board</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="ft_btm inner_1280">
            <div class="ft_btm_left">
                <p class="ft_comp_tit">(주)쇼핑몰테스트페이지</p>
                <a href="#" class="ft_comp_tel">1577-1700</a>
                <span>대표자 : 홍길동 서울특별시 강남구 테헤란로123 사업자등록번호 : 877-12-12345 통신판매업 신고번호 : 제2024-서울강남-01234호</span>
                <span>개인정보보호책임자 : 임꺽정 Fax : 02-1234-1234 test@test.com</span>
            </div>
            <div class="ft_btm_right">
                <span>SNS 방문하기</span>
                <div class="ft_btm_sns_wrap">
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>