<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- 푸터 html 시작 -->
<footer>
  <div class="bottomMenu">
    <ul>
      <li><a href="">개인정보처리방침</a></li>
      <li><a href="">홈페이지이용약관</a></li>
      <li><a href="">저작권보호정책</a></li>
      <li><a href="">이메일무단수집거부</a></li>
    </ul>
  </div>

  <div class="info">
    <div class="bottom_logo">
      <img src="../images/book.png">
      <h5>평생학습플랫폼</h5>
    </div>

    <div class="company">
      <span>04520 서울특별시 중구 천계천로 11 | <a href="" style="color: #032030; font-weight: 700; font-size: 14px; line-height: 32px; text-decoration: none">문의하기</a> | 원격지원</span>
      <br>
      <span>대표전화 : 1577-1611&ensp;&ensp;상담 시간 : 평일 9시 ~ 18시 (점심시간 12시 ~ 13시) ※ 주말 및 공휴일 휴무</span>
      <br>
      <span>대표자 : 홍길동&ensp;&ensp;사업자등록번호 : 150-35-1235148&ensp;&ensp;개인정보관리담당자 : 이순신</span>
      <br>
      <span>® Lifelong Education Services. ALL RIGHTS RESERVED.</span>
    </div>

    <div class="sns">
      <ul>
        <li><a href="https://facebook.com" target="_blank"><img src="../images/facebook.png"></a></li>
        <li><a href="https://instagram.com" target="_blank"><img src="../images/instagram.png"></a></li>
        <li><a href="https://twitter.com" target="_blank"><img src="../images/twitter.png"></a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- 푸터 html 끝 -->
</html>