<!DOCTYPE html>
<html lang="ko">
    <!-- 헤더 html 시작 -->
    <header>
      <div class="logo">
        <a href="">
          <h5>평생학습플랫폼</h5>
          <img src="../image/book.png">
        </a>
      </div>

      <nav>
        <ul class="topMenu">
          <li>
            <a href="">온라인 학습</a>
          </li>
          <li>
            <a href="">오프라인 교육정보</a>
          </li>
          <li>
            <a href="">행정교육자료</a>
          </li>
          <li>
            <a href="">늘배움 알림</a>
          </li>
          <li>
            <a href="">늘배움 소개</a>
          </li>
        </ul>

        <div class="subMenu_cate">
          <ul class="subMenu">
            <li><a href="">가</a></li>
            <li><a href="">나</a></li>
            <li><a href="">다</a></li>
          </ul>
          <ul class="subMenu">
            <li><a href="">라</a></li>
            <li><a href="">마</a></li>
            <li><a href="">바</a></li>
          </ul>
          <ul class="subMenu">
            <li><a href="">사</a></li>
            <li><a href="">아</a></li>
            <li><a href="">자</a></li>
          </ul>
          <ul class="subMenu">
            <li><a href="">차</a></li>
            <li><a href="">카</a></li>
            <li><a href="">타</a></li>
          </ul>
          <ul class="subMenu">
            <li><a href="">파</a></li>
            <li><a href="">하</a></li>
            <li><a href="">굿</a></li>
          </ul>
        </div>
      </nav>

      <div class="member_btn">
        <a href="" class="reg">👦회원가입</a>
        <a href="" class="login">🔒로그인</a>
      </div>
    </header>
    <!-- 헤더 html 끝 -->
</html>