<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/common.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <script></script>
</head>
<body>
<div id="header">
    <div class="center">
        <img alt="로고" id="logo" src="logo.webp">
        <nav>
            <a href="/lecture">수강 신청</a>
            <a href="/company">기관 신청</a>
            <a href="/info">소개</a>
            <a href="/login">로그인</a>
        </nav>
    </div>
</div>
</body>
</html>