/* 홈 css 시작 */
.lecture_search_shortcut_container {
  width: 100%;
  height: 450px;
}

.lecture_search_shortcut {
  width: 100%;
  height: 440px;
  margin-top: 35px;
}

.image_space {
  width: 48%;
  float: left;
  margin-right: 35px;
}

.image_space img {
  width: 100%;
}

.lecture_search {
  width: 48%;
  height: 46%;
  float: right;
  margin-bottom: 35px;
  border-radius: 5px;
  background-color: #0092B2;
}

.lecture_search_title {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-left: 40px;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 55px;
}

.select_lecture_institution {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-left: 40px;
  font-family: "Droid Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
}

.search_box {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-left: 40px;
}

.search {
  width: 450px;
  height: 30px;
}

.search_condition_button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-left: 40px;
}

.search_button_wrap{
  float: left;
  position: relative;
  margin-right: 10px;
}

.search_button_wrap::after{
  width: 30px;
  height: 30px;
  top: 5px;
  left: 45px;
  content: "";
  position: absolute;
  background: url("../image/magnifier_1.png") center center no-repeat;
}

.search_button {
  width: 225px;
  height: 40px;
  color: white;
  border-width: 0;
  border-radius: 10px;
  background-color: #33A03E;
  cursor: pointer;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}

.condition_button_wrap {
  float: left;
  position: relative;
}

.condition_button_wrap::after {
  width: 30px;
  height: 30px;
  top: 5px;
  left: 45px;
  content: "";
  position: absolute;
  background: url("../image/magnifier_2.png") center center no-repeat;
}

.condition_button {
  width: 225px;
  height: 40px;
  color: white;
  border-width: 0;
  border-radius: 10px;
  background-color: #424242;
  cursor: pointer;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}

.shortcut {
  width: 48%;
  height: 46%;
  float: right;
  border-radius: 5px;
  background-color: #227BD6;
}

.shortcut_title {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  margin-left: 40px;
  color: #FFFFFF;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
}

.shortcut_button_wrap {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-left: 40px;
}

.shortcut_button_item {
  width: 100px;
  height: 120px;
  margin-right: 35px;
  float: left;
  cursor: pointer;
}

.shortcut_button {
  width: 90px;
  height: 90px;
  border-width: 0;
  background: url("../image/shortcut_button.png") no-repeat;
  cursor: pointer;
}

.shortcut_button_text {
  color: #FFFFFF;
  font-family: "Droid Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  text-align: center;
}

.new_lecture_container {
  width: 100%;
  height: 1000px;
  margin-top: 80px;
  background-color: #F5F5F5;
}

.new_lecture_title {
  width: 100%;
  height: 40px;
  padding-top: 40px;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 26px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lecture_list {
  width: 1270px;
  height: 100%;
  margin: 30px auto 0;
}

.card {
  width: 300px;
  height: 260px;
  margin-right: 15px;
  margin-bottom: 40px;
  float: left;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.card a {
  color: black;
  text-decoration: none;
}

.card_img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  background-image: linear-gradient(to left, #424242, #aaaaaa);
}

.card_img_tag_schedule {
  width: 55px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  color: #FFFFFF;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  background-color: #017E24;
}

.card_img_tag_end {
  width: 55px;
  height: 25px;
  margin-top: 10px;
  margin-left: 10px;
  color: #FFFFFF;
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 11px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  background-color: #C89D03;
}

.card_body {
  width: 100%;
  height: 10%;
  margin-top: 5px;
  text-align: center;
}

.card_footer {
  width: 100%;
  height: 10%;
  margin-top: 5px;
  text-align: center;
}
/* 홈 css 끝 */