/* 수강신청등록기관 css 시작 */
.title_container {
  width: 100%;
  height: 240px;
}

.title {
  font-family: "Droid Sans";
  font-weight: 700;
  font-size: 28px;
  line-height: 240px;
  text-align: center;
}

.personal_information_use_policy {
  width: 100%;
  height: 350px;
  margin-bottom: 60px;
}

.personal_information_use_policy_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 41px;
}

li::marker { /* 불릿 색상 바꾸기 */
  color: #0BA2D2;
}

/* textarea 스크롤 바 커스텀 시작 */
textarea::-webkit-scrollbar {
  width: 1em; /* 스크롤 바 넓이 */
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 30px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(139, 139, 139);
  outline: 1px solid slategrey;
  border-radius: 30px;
}
/* textarea 스크롤 바 커스텀 끝 */

.personal_information_use_policy_text {
  width: 100%;
  height: 305px;
  background-color: #D9D9D9;
  resize: none;
}

.institution_input_container {
  width: 95%;
  height: 900px;
  margin: 0 auto;
}

.institution_form {
  margin-top: 40px;
}

.institution_name {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.category_container {
  width: 150px;
}

.category_text {
  font-family: "Droid Sans";
}

.real_input {
  margin-left: 60px;
}

.institutionName_postcode_dong_file_button {
  width: 110px;
  height: 30px;
  border: 1px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  font-family: "Droid Sans";
  line-height: 25px;
  color: #FFFFFF;
  background-color: #4F4F4F;
  cursor: pointer;
}

.short_box {
  width: 100px;
}

.representative_name {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.corporate_registration_number {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.email {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.address {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 60px 0;
}

.basics_detail_address {
  display: grid;
}

.basics_detail_address input {
  margin: 5px 0;
}

.basics_address {
  width: 340px;
  background-color: #F5F5F5;
}

.detail_address {
  width: 340px;
}

.representative_number {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.application_enrollment_decision {
  margin-top: 60px;
  text-align: center;
}

.enrollment {
  width: 100px;
  height: 55px;
  margin-right: 30px;
  color: #FFFFFF;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #559CE3;
}

.list {
  width: 100px;
  height: 55px;
  color: #A1A1A1;
  border-width: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #F2F2F2;
}
/* 수강신청등록기관 css 끝 */