* {
    margin: 0;
    padding: 0;
}

.satisfaction_title_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #05294B;
}

.satisfaction_title {
    width: 500px;
    height: 70px;
    margin-left: 160px;
}

.satisfaction_content_container {
    width: 1200px;
    height: 1200px;
    overflow: auto;
    margin: 50px auto 0;
    background-color: #F2F2F2;
}

.satisfaction_text_container {
    width: 1100px;
    height: 250px;
    overflow: auto;
    margin: 30px auto 0;
    background-color: #9BACB4;
}

.title {
    width: 200px;
    height: 25px;
    margin: 35px auto 0;
}

.content {
    width: 1050px;
    height: 100px;
    margin: 40px auto 0;
}

.content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.questionnaire {
    width: 1100px;
    height: 850px;
    margin: 40px auto 0;
}

.question {
    width: 100%;
    height: 35px;
}

.answer {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 29px;
}

.user_write {
    width: 100%;
    height: 230px;
    background-color: #FFFFFF;
}

.user_write textarea {
    width: 99.9%;
    height: 230px;
    resize: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.submit_button {
    width: 100px;
    height: 40px;
    margin: 25px auto 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #306AA5;
}

.submit_button input {
    width: 100px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    background-color: transparent;
}