*{
    margin: 0;
}

ul{
    padding: 0;
}

ul li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.inner_1200{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.lec_view_container{
    /* background-color: rgb(243, 113, 113); */
    display: flex;
    flex-direction: column;
}

.lec_view_container .lec_img_info{
    height: 329px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 125.5px 0;
}

.lec_view_container .lec_img_info .lec_img{
    background-color: #ddd;
    width: 538px;
    height: 329px;
    margin-right: 40px;
}

.lec_view_container .lec_img_info .lec_info{
    width: calc(100% - 680px);
    height: calc(100% - 80px);
    background-color: dodgerblue;
    padding: 40px;
}

.lec_view_container .lec_img_info .lec_info .info_tit{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.lec_view_container .lec_img_info .lec_info .info_cate ul{
    display: flex;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 45px;
}

.lec_view_container .lec_img_info .lec_info .info_cate ul li{
    width: 80px;
    height: 30px;
    background: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

.lec_view_container .lec_img_info .lec_info .info_cate ul li:last-child{
    margin-right: 0;
}

.lec_view_container .lec_img_info .lec_info .info_cate ul li span{
    font-size: 13px;
}

.lec_view_container .lec_img_info .lec_info .info_desc_wrap ul{   
    display: flex;
    padding-left: 0;
    color: #fff;
}

.lec_view_container .lec_img_info .lec_info .info_desc_wrap ul li:first-child{
    margin-right: 50px;
}

 .lec_view_container .lec_img_info .lec_info .info_desc_wrap ul li span:first-child{
    width: 100px;
    display: inline-block;
}

 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-top: 20px;
}

/* 좋아요 버튼 */
 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:first-child{

    background-color: #ddd;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    font-size: 25px;
}

 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:first-child a{
    width: 70px;
    height: 60px;
    display: block;
    transition: all .3s;
}

.lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:first-child a:hover{
    color: rgb(204, 1, 1);
}

 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:nth-child(2){
    background-color: darkblue;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}

 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:nth-child(2) a{
    color: #fff;
    font-size: 16px;
    width: 100px;
    height: 60px;
    display: block;
    transition: all .3s;
}

.lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:nth-child(2) a:hover{
    background-color: rgb(41, 41, 190);
    border-radius: 10px;
}

 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:last-child{
    line-height: 60px;
    background-color: rgb(9, 112, 0);
    text-align: center;
    border-radius: 10px;
    width: 60%;
    text-align: center;

}
 .lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:last-child a{
     color: #fff;
     font-weight: bold;
     width: 100%;
     height: 60px;
     display: block;
     transition: all .3s;
}

.lec_view_container .lec_img_info .lec_info .info_btn_wrap ul li:last-child a:hover{
    background-color: rgb(48, 150, 38);
    border-radius: 10px;
}

 .lec_view_container .lec_menu{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}

 .lec_view_container .lec_menu ul{
    display: flex;
    margin: 0 auto;
}

 .lec_view_container .lec_menu ul li a{
    width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    border-bottom: 1px solid #adadad;
    color: #adadad;
    text-align: center;
    transition: all .3s;
}

.lec_view_container .lec_menu ul li a:hover{
    border-bottom: 1px solid #000;
    color: #000;
    font-weight: bold;
}

 .lec_view_container .lec_menu ul li a.active{
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

 .lec_view_container .lec_desc_container .lec_desc_wrap{
    position: relative;
    height: auto;
    display: flex;
}

 .lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt{
    width: calc(100% - 330px);
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 50px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top > ul > li.lec_lst_container{
    margin-top: 80px;
    margin-bottom: 80px;
}

 .lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top .desc_tit{
    font-weight: bold;
    font-size: 25px;
}

 .lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top .desc_content{
    margin-top: 20px;
    word-break: keep-all;
}

 .lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top .desc_img{
    background-color: #8d8d8d;
    width: 100%;
    height: 800px;
    margin: 30px 0;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap{
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 100%;
    margin: 30px 0;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li.lec_lst_subject{
    background-color: #eee;
    padding: 20px;
    color: #3a3a3a;
    font-weight: bold;
    font-size: 15px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li .lec_lst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li:last-child .lec_lst{
    border-bottom: none;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li .lec_lst button{
    border: 1px solid rgb(9, 164, 11);
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    color: rgb(9, 164, 11);
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li .lec_lst button:hover{
    background-color: rgb(9, 164, 11);
    color: #fff;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_lst_wrap ul li .lec_lst p{
    margin-left: 0;
    width: 80%;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container{
    margin: 30px 0;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst .review_star{
    width: 120px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst .review_star i{
    color: rgb(255, 204, 0);
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst .review_content{
    width: calc(100% - 220px);
    margin-left: 5%;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst .review_content p{
    width: 100%;
    text-align: left;
}
.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_lt .lec_desc_lt_top ul .review_container .review_wrap ul li.review_lst .review_writer{
    width: 100px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt{
    position: sticky;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 300px;
    height: 450px;
    right: 100px;
    top: 80px;
    margin-top:50px;
    border-radius: 10px;
    padding: 20px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_container ul li:first-child a{
    width: 100%;
    height: 55px;
    display: block;
    text-align: center;
    line-height: 55px;
    background-color: rgb(48, 150, 38);
    color: #fff;
    border-radius: 10px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_container ul li:last-child{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_container ul li:last-child a:first-child{
    width: 70px;
    height: 50px;
    display: block;
    background-color: #ddd;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_container ul li:last-child a:last-child{
    width: 185px;
    height: 50px;
    display: block;
    background-color: #0055A4;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;

}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_star_wrap .review_star{
    color: #ffc700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_review_star_wrap span{
    text-align: center;
    width: 100%;
    font-weight: 500;
    display: inline-block;
    margin: 15px 0;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_rt_info ul{
    display: flex;
    flex-direction: column;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_rt_info ul li > div{
    margin-bottom: 20px;
}

.lec_view_container .lec_desc_container .lec_desc_wrap .lec_desc_rt .lec_rt_btn .lec_rt_info ul li > div span:last-child{
    font-weight: bold;
}