footer {
    width: 100%;
    height: 200px;
    margin: 200px auto 0;
}

.bottomMenu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.bottomMenu ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.bottomMenu ul li {
    margin-right: 45px;
}

.bottomMenu ul li a {
    color: #000000;
    font-weight: 700;
    font-size: 13px;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
}

.info {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    line-height: 150px;
}

.bottom_logo {
    width: 15%;
    height: 130px;
    margin-top: 10px;
    margin-left: 25px;
}

.bottom_logo img {
    width: 125px;
    height: 100px;
    float: left;
}

.bottom_logo h5 {
    width: 125px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company {
    width: 79%;
    height: 130px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    color: #7D7D7D;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.sns {
    width: 16%;
    height: 60px;
    float: right;
    margin-top: 20px;
    margin-left: 175px;
}

.sns ul {
    display: flex;
}