<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>헤더</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/header.css">
</head>
<body>

  <div class="container">
    <!-- 헤더 -->
    <header>
      <div class="logo">
        <a href="">
          <span>평생학습플랫폼</span>
          <img src="/img/book.png">
        </a>
      </div>

      <nav>
        <ul class="topMenu">
          <li>온라인 학습</li>
          <li>오프라인 교육정보</li>
          <li>행정교육자료</li>
          <li>늘배움 알림</li>
          <li>늘배움 소개</li>
        </ul>
      </nav>

      <div class="member-btn">
        <a href="" class="reg">👦회원가입</a>
        <a href="" class="login">🔒로그인</a>
      </div>
    </header>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>