<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>홈</title>
  <link rel="stylesheet" href="../css/common/header.css" >
  <link rel="stylesheet" href="../css/common/footer.css">
  <link rel="stylesheet" href="../css/home.css" >
</head>
<body>
<div class="container">
  <!-- 헤더 html 시작 -->
  <header th:replace="~{/common/header::header}"></header>
  <!-- 헤더 html 끝 -->

  <!-- 홈 html 시작 -->
  <div class="lecture_search_shortcut_container">
    <div class="lecture_search_shortcut">
      <div class="image_space">
        <img src="../images/home_education.png" alt="">
      </div>
      <form action="" method="post" class="lecture_search">
        <div class="lecture_search_title">
          <p>강좌 검색</p>
        </div>
        <div class="select_lecture_institution">
          <input type="radio" name="lecture_institution_name" class="" checked>
          <span>강좌명&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <input type="radio" name="lecture_institution_name" class="">
          <span>기관명</span>
        </div>
        <div class="search_box">
          <input type="text" class="search" placeholder="&nbsp;&nbsp;&nbsp;검색어를 입력해주세요.">
        </div>
        <div class="search_condition_button">
          <div class="search_button_wrap">
            <input type="button" class="search_button" value="검색하기">
          </div>
          <div class="condition_button_wrap">
            <input type="button" class="condition_button" value="검색조건">
          </div>
        </div>
      </form>
      <div class="shortcut">
        <div class="shortcut_title">
          <p>바로가기</p>
        </div>
        <div class="shortcut_button_wrap">
          <div class="shortcut_button_item">
            <input type="button" class="shortcut_button">
            <p class="shortcut_button_text">강사소개</p>
          </div>
          <div class="shortcut_button_item">
            <input type="button" class="shortcut_button">
            <p class="shortcut_button_text">강좌개설제안</p>
          </div>
          <div class="shortcut_button_item">
            <input type="button" class="shortcut_button">
            <p class="shortcut_button_text">교육상담</p>
          </div>
          <div class="shortcut_button_item">
            <input type="button" class="shortcut_button">
            <p class="shortcut_button_text">월별교육일정</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new_lecture_container">
  <div class="new_lecture_title">
    <p>신규 강좌</p>
  </div>
  <div class="lecture_list">
    <div class="card" th:each="lecture : ${lectureList}">
      <a class="card_img" th:href="@{/lecture/{id}(id = ${lecture.id()})}"
         th:style="'background-image: url(' + @{/api/lecture/{lectureId}/image(lectureId = ${lecture.id()})} + '); background-size: cover'">
        <div class="card_img_tag_schedule">개강예정</div>
      </a>
      <a class="card_body" th:href="@{/lecture/{id}(id = ${lecture.id()})}">
        <h4 class="card_title" th:text="${lecture.name()}"></h4>
      </a>
      <div class="card_footer">
        <span th:text="${lecture.created_at()}"></span>
      </div>
    </div>
  </div>
</div>
<!-- 홈 html 끝 -->

<!-- 푸터 html 시작 -->
<footer th:replace="~{/common/footer::footer}"></footer>
<!-- 푸터 html 끝 -->

</body>
</html>