<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../common/css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="container">
        <!-- 헤더 html 시작 -->
        <header th:replace="~{/common/header::header}"></header>
        <!-- 헤더 html 끝 -->

        <!-- 로그인 html 시작 -->
        <iframe name="lo" style="display: none"></iframe>
        <form method="post" target="lo" th:action="@{/api/account/login}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            <div class="login_text">
                <p style="font-weight: 700; font-size: 32px; line-height: 72px">로그인</p>
            </div>
            <div class="login_form">
                <input name="id" type="text" autofocus placeholder="아이디">
                <input name="pw" type="password" placeholder="비밀번호" style="margin-top: 5px">
            </div>
            <input type="submit" value="로 그 인" id="login_button">
            <div class="search_register_wrap">
                <a id="search" th:href="@{/register}">아이디/패스워드 찾기</a>
                <a href="" id="register">회원가입</a>
            </div>
        </form>
        <!-- 로그인 html 끝 -->
    </div>
</body>
</html>