<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.rg/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="../css/common/header.css">
    <link rel="stylesheet" href="../css/common/footer.css">
    <link rel="stylesheet" href="../css/login.css">
<!--    <meta th:content="${_csrf.token}" th:name="_csrf"/>-->
<!--    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>-->
</head>
<body>

    <div class="container">
        <!-- 헤더 html 시작 -->
        <header th:replace="~{/common/header::header}"></header>
        <!-- 헤더 html 끝 -->

        <!-- 로그인 html 시작 -->
        <iframe name="lo" style="display: none"></iframe>
        <script>
            async function check() {
                const token = document.querySelector('meta[name="_csrf"]').content;
                const header = document.querySelector('meta[name="_csrf_header"]').content;
                const jsonHeaders = {
                    "Content-Type": "x-www-form-urlencoded",
                };
                jsonHeaders[header] = header;
                const formData = document.getElementById("login_form").formData;

                await fetch("/api/account/login", {
                    method: "POST",
                    headers: jsonHeaders,
                    body: new URLSearchParams({
                        id: formData.get("id"),
                        pw: formData.get("pw")
                    })
                }).then(data => {
                    if (data.status === 401) {
                        window.alert("아이디 또는 비밀번호가 틀렸습니다.");
                    }
                });
            }
        </script>
        <form id="login_form" method="post" onsubmit="check()" th:action="@{/api/account/login}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            <div class="login_text">
                <p style="font-weight: 700; font-size: 32px; line-height: 72px">로그인</p>
            </div>
            <div class="login_form">
                <input name="id" type="text" autofocus placeholder="아이디">
                <input name="pw" type="password" placeholder="비밀번호" style="margin-top: 5px">
            </div>
            <input type="submit" value="로 그 인" id="login_button">
            <div class="search_register_wrap">
                <a href="#" id="search">아이디/패스워드 찾기</a>
                <a href="/account/register" id="register">회원가입</a>
            </div>
        </form>
        <!-- 로그인 html 끝 -->
    </div>

    <!-- 푸터 html 시작 -->
    <footer th:replace="~{/common/footer::footer}"></footer>
    <!-- 푸터 html 끝 -->

</body>
</html>