<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>만족도 조사 (팝업)</title>
  <link rel="stylesheet" href="../css/common/default.css">
  <link rel="stylesheet" href="../css/satisfaction.css">
</head>
<body>

  <div class="satisfaction_title_container">
    <div class="satisfaction_title">
      <p style="font-weight: 700; font-size: 27px; line-height: 40px; color: #FFFFFF">만족도 조사</p>
      <p style="font-weight: 400; font-size: 11px; line-height: 25px; color: #FFFFFF">플랫폼 개선을 위해 강좌를 수강하면서 느낀 점을 작성해주세요.</p>
    </div>
  </div>

  <div class="satisfaction_content_container">
    <div class="satisfaction_text_container">
      <div class="title">
        <span style="font-weight: 700; font-size: 23px; text-align: center; color: #FFFFFF;">강좌 만족도 조사</span>
      </div>
      <div class="content">
        <p>안녕하십니까? 우리 플랫폼을 이용해주셔서 감사합니다.</p>
        <p>보고계신 페이지는 온라인 평생학습 플랫폼 만족도 조사 페이지로, 수강생분들의 수강후기를 전달받아 플랫폼과 강좌의 질을 향상시키고자 만들어진 페이지입니다.</p>
        <p> 따라서 만족도 조사가 조금 번거롭고 시간이 소요되더라도 수강생 한분 한분께서 만족도를 평가해주시면
          다음에 오시게 될 분들이 더 편하고 쾌적한 환경에서 양질의 강의를 들을 수 있게 될거라 믿고 가급적이면 만족도 조사에 응해 주신다면 대단히 감사하겠습니다.</p>
      </div>
    </div>

    <form method="post" class="questionnaire">
      <div class="question">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[강좌 만족도] 1. 강좌는 전반적으로 만족스러웠다.</span>
      </div>
      <div class="answer">
        <input type="radio" name="a1">&nbsp;전혀 그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;보통이다&ensp;
        <input type="radio" name="a1">&nbsp;그렇다&ensp;
        <input type="radio" name="a1">&nbsp;매우 그렇다
      </div>

      <div class="question" style="margin-top: 30px">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[강좌 만족도] 2. 강좌를 통해 업무능력 향상 및 자기계발 등에 도움이 되었다.</span>
      </div>
      <div class="answer">
        <input type="radio" name="a1">&nbsp;전혀 그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;보통이다&ensp;
        <input type="radio" name="a1">&nbsp;그렇다&ensp;
        <input type="radio" name="a1">&nbsp;매우 그렇다
      </div>

      <div class="question" style="margin-top: 30px">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[강좌 만족도] 3. 강좌를 신청하는 과정이 쉽고, 강좌의 커리큘럼과 관련된 다양한 정보를 제공하고 있다.</span>
      </div>
      <div class="answer">
        <input type="radio" name="a1">&nbsp;전혀 그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;보통이다&ensp;
        <input type="radio" name="a1">&nbsp;그렇다&ensp;
        <input type="radio" name="a1">&nbsp;매우 그렇다
      </div>

      <div class="question" style="margin-top: 30px">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[시스템이용] 4. 강좌를 신청하기 위해 기관에 대한 정보를 확인하는 과정이 수월했다.</span>
      </div>
      <div class="answer">
        <input type="radio" name="a1">&nbsp;전혀 그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;보통이다&ensp;
        <input type="radio" name="a1">&nbsp;그렇다&ensp;
        <input type="radio" name="a1">&nbsp;매우 그렇다
      </div>

      <div class="question" style="margin-top: 30px">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[강좌추천의향] 5. 본 강좌를 친척, 지인, 직장동료 등에 추천할 의향이 있다.</span>
      </div>
      <div class="answer">
        <input type="radio" name="a1">&nbsp;전혀 그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;그렇지 않다&ensp;
        <input type="radio" name="a1">&nbsp;보통이다&ensp;
        <input type="radio" name="a1">&nbsp;그렇다&ensp;
        <input type="radio" name="a1">&nbsp;매우 그렇다
      </div>

      <div class="question" style="margin-top: 30px">
        <span style="font-weight: 700; font-size: 15px; line-height: 33px">[기타의견] 6. 강좌를 수강하면서 아쉬웠던 점이나 보완해야할 부분이 있다면 작성해주세요.</span>
      </div>
      <div class="user_write" style="margin-top: 10px">
        <textarea name="user_write" cols="30" rows="10"></textarea>
      </div>

      <div class="submit_button">
        <input type="submit" value="제 출 하 기">
      </div>
    </form>
  </div>

</body>
</html>