<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>강의 재생</title>
    <link rel="stylesheet" href="/css/video.css" >
</head>
<body>
<div id="video">
    <video controls height="500"
      th:src="@{/api/lecture/{lecture_id}/{content_id}/video(lecture_id = ${lecture_id}, content_id = ${content_id})}"
      autoplay width="1150">
    </video>
</div>
<nav>
  <span id="text">강의 이동하기</span>
  <div style="display: flex; flex-direction: row">
    <a id="next"
       th:href="@{/api/lecture/{lecture_id}/{content_id}(lecture_id = ${lecture_id}, content_id = ${content_id})}"
       th:if="${content_id != null}">다음</a>
    <a id="end" onclick="window.close()">종료</a>
  </div>
</nav>
</body>
</html>